/* .wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
} */

.scrollingList {
  display: flex;

  /* width: max-content; */
  /* animation: scroll 3s linear infinite;
    scroll-snap-type: x mandatory; */
}



@media (min-width: 320px) {
  .scrollingList {
    width: 250%;
  }

  .scrollisgListItem  {
    width: 70vw !important;
    /* min-height: 30.35rem !important; */
        min-height: 41.5725rem !important;

}
}


@media (min-width: 320px) {
  .display-none {
    max-width: 100vw;
    
  }

    /* .scrollisgListItem  {
    width: 100%;
} */
}

@media (max-width: 320px) {

  .scrollingList {
    flex-direction: column;
    /* width: 100vw !important; */
    align-items:center;
    height: 150vw;
  }

  
    .scrollisgListItem {
      min-height: 26.35rem;
      /* width: 48svh !important;
      height: 50svh !important; */
  /* height: 55svh */
}


}

@media (max-width: 267px) {
      .scrollisgListItem {
      /* min-height: 34.35rem; */
            min-height: fit-content;

      /* width: 48svh !important;
      height: 50svh !important; */
  /* height: 55svh */
}
}

@media (max-width: 285px) {

  .scrollingList {
    flex-direction: column;
    /* width: 100vw !important; */
    align-items:center;
    height: 150vw;
  }

    /* .scrollisgListItem a {
      width: 41vw !important;
      height: 50svh !important;
      flex-grow:1;
} */

    .scrollisgListItem  {
      width: 90%;
      margin-inline:auto
 
} 
}

/* Keyframes for horizontal movement */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  99% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

::-webkit-scrollbar {
  width: 1em; /*width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb {
  background: black;
  /* border-radius: 100vw; */
  border: 0.2em solid hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(226, 9%, 48%);
}
/*   background: hsl(48, 100%, 50%)
 */

@media (min-width: 700px) {
  .display-none {
    display: none;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  .scrollisgListItem a {
  /* height: 55svh */
}
}

@media (orientation: portrait) {
  .scrollisgListItem a {
  /* height: 55vw */
}
}



.technologies-bottom {
    position:absolute !important;
    bottom: 1rem;
}

